:root{
    --heading-font:'Playfair Display', serif;
    --text-font:'DM Sans', sans-serif;
    --main-color:#2e2824;
    --secondary-color:#2b231d;
    --third-color:#d74544;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

/*nav-bar*/
nav{
    padding:2em 5em;
    display: flex;
    justify-content: center;
}
nav .box{
    width:1170px;
    max-width: 1190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .box .logo{
    width:125px;
    height:40px;
    z-index: 1;
}
nav .box ul{
    display: flex;
    gap:30px;
}
nav .box ul li{
    font-family: var(--text-font);
    font-weight: 600;
    letter-spacing: 2px;
    font-size:0.9em;
    color:var(--main-color);
    transition: .2s ease-in-out;
    cursor: pointer;
    line-height:40px;
}
nav .box ul li:hover{
    color:var(--third-color);
}
nav .box ul .active{
    border:1px solid var(--main-color);
    width:110px;
    height:40px;
    text-align: center;
    transition: .3s ease-in-out;
}
nav .box ul .active:hover{
    background-color: var(--main-color);
    color:white;
}
/*first section*/
#first-section{
    padding:5em 5em 0;
    display: flex;
    justify-content: center;
}
#first-section .background{
    position: absolute;
    object-fit: cover;
    width:100%;
    left:0;
    top:0;
    z-index:-1;
}
#first-section .box{
    width:1150px;
    max-width: 1170px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#first-section .box .img-box{
    width:410px;
    height:575px;
    position: relative;
}
#first-section .box .img-box .main-pic{
    width:100%;
    height:100%;
    object-fit: cover;
    cursor: pointer;
}
#first-section .box .img-box .flower{
    position: absolute;
    width:85%;
    bottom:-10px;
    right:-70px;
}
#first-section .box .text-box{
    display: flex;
    flex-direction: column;
    gap:30px;
}
#first-section .box .text-box h1{
    font-size: 5em;
    font-family: var(--heading-font);
    color:var(--secondary-color);
    font-weight: 600;
    width:600px;
}
#first-section .box .text-box p{
    font-size:1.1em;
    line-height: 25px;
    font-family: var(--text-font);
    color:var(--main-color);
    width:500px;
}
#first-section .box .text-box button{
    color:white;
    font-family: var(--text-font);
    border:none;
    background-color: var(--third-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    padding:15px;
    width:148px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
#first-section .box .text-box button:hover{
    background-color: var(--secondary-color);
}
/*second section*/
#second-section{
    padding:0 5em;
    display: flex;
    justify-content: center;
    position: relative;
}
#second-section .background{
    position: absolute;
    object-fit: cover;
    width:100%;
    left:0;
    top:0;
    z-index:-1;
}
#second-section .box{
    width:1150px;
    max-width: 1170px;
    padding:5em 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#second-section .box .text-box{
    display: flex;
    flex-direction: column;
    gap:30px;
}
#second-section .box .text-box h1{
    font-size:3.2em;
    font-weight: 600;
    color:var(--secondary-color);
    width:500px;
    font-family: var(--heading-font);
}
#second-section .box .text-box p{
    font-size:1.1em;
    color:var(--main-color);
    font-family: var(--text-font);
    line-height: 30px;
    width:490px;
}
#second-section .box .text-box div{
    font-family: var(--text-font);
    text-transform:uppercase;
    letter-spacing: 2px;
    color:var(--third-color);
    font-weight: 600;
    font-size:0.9em;
    transition: .2s ease-in-out;
    cursor: pointer;
}
#second-section .box .text-box div:hover{
    color:var(--secondary-color);
}
#second-section .box .img-box{
    width:444px;
    height: 574px;
    position: relative;
}
#second-section .box .img-box .main-pic{
    width:100%;
    height:100%;
    object-fit: cover;
}
#second-section .box .img-box .flower{
    position: absolute;
    width:85%;
    bottom:-10px;
    right:-70px;
}
/*third section*/
#third-section{
    padding:0 5em;
    display: flex;
    justify-content: center;
    position: relative;
}
#third-section .background{
    position: absolute;
    object-fit: cover;
    width:100%;
    left:0;
    top:0;
    z-index:-1;
}
#third-section .box{
    padding:5em 0;
    width:1150px;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:30px;
}
#third-section .box h1{
    font-size:3.2em;
    font-weight: 600;
    color:var(--secondary-color);
    font-family: var(--heading-font);
    width:400px;
}
#third-section .box p{
    font-size:1.1em;
    color:var(--main-color);
    font-family: var(--text-font);
    line-height:25px;
    width:500px;
}
#third-section .box .card-box{
    margin-top:40px;
    display: flex;
    gap:20px;
}
#third-section .box .card-box .card{
    width:260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    background-color:white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    padding:30px;
    border-radius: 5px;
    transition: .3s ease-in-out;
}
#third-section .box .card-box .card:hover{
    box-shadow:none;
}
#third-section .box .card-box .card img{
    width:120px;
    height:120px;
    object-fit: contain;
}
#third-section .box .card-box .card h1{
    font-size:1.5em;
}
#third-section .box .card-box .card p{
    font-size:1em;
    width:200px;
}
#third-section .box .card-box .card div{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    font-family: var(--text-font);
    letter-spacing: 2px;
    color:var(--third-color);
    cursor: pointer;
    transition: .3s ease-in-out;
}
#third-section .box .card-box .card div:hover{
    color:var(--secondary-color);
}
